@media screen and (max-width:950px) {
    header{
        z-index: 2;
        position: fixed;
        flex-direction: row;
        width: 100%;
        min-height: 10%;
        justify-content: center;
        align-items: flex-start;
        bottom: 0;
        right: 0;
        height: 10%;
        padding: 0%;

        background-color: var(--color-grey-4);
        .mode{
            margin: 0;
            padding: 0%;
        }
        
        .control {
            border-radius: 0%;
            margin: 0%;
            height: 100%;
            i{
                margin: 2rem;
            }
        }
        
    }
    .signature{
        font-size: 2rem;
    }
}
@media screen and (max-width:1006px) {
    .Home-Content {
        margin-right: 5rem;
    }
}
@media screen and (max-width:970px) {
    .home.active{
        display: flex;
        flex-direction: column-reverse;
        justify-content:center;
        align-items: center;
        background: none;
        margin-bottom: 70px;
    }
    .ImageContainer{
        width: 70vw;
    }
    .Home-Content{
        margin: 0;
        align-self: center;
        padding-left: 10px;
    }
}
@media screen and (max-width:600px) {
    
   
    
    .about.active{
        padding: 0;
        margin-top: 20px;
    }
    .main-title h2{
        font-size: 2rem;
    }
    .about-section {
        margin-bottom: 80px;
    }
    .progress-bars {
        grid-template-columns: repeat(1,minmax(0,1fr));
    }
    .timelines {
        grid-template-columns: repeat(1,minmax(0,1fr));
        .timeline-item:nth-child(2){
            grid-column: 1;
            grid-row: 2;
        }
        .timeline-item:nth-child(3) {
            grid-row: 3;
        }
    }
    .portfolios {
        grid-template-columns: repeat(1,minmax(0,1fr));
    }
    .portfolio.active {
        margin-bottom: 80px;
    }

    .contact.active {
        margin-top: 80px;
        .container{
            flex-direction: column-reverse;
        }
    }
    
}