@font-face {
  font-family: "SignatureFont";
  font-style: normal;
  font-weight: normal;
  src: local("Agustina Regular"), url("../fonts/Agustina.woff") format("woff");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

.signature {
  font-family: "SignatureFont";
  position: fixed;
  top: 0%;
  left: 0;
  font-size: 3rem;
  opacity: 0.1;
}

:root {
  --color-primary:#191d2b;
  --color-secondary:#27AE60;
  --color-white:#FFFFFF;
  --color-black:#000;
  --color-grey0:#f8f8f8;
  --color-grey-1:#dbe1e8;
  --color-grey-2:#b2becd;
  --color-grey-3:#6c7983;
  --color-grey-4:#454e56;
  --color-grey-5:#2a2e35;
  --color-grey-6:#12181b;
  --br-sm-2:14px ;
}

.light-mode {
  --color-primary: #FFFFFF;
  --color-secondary: #F56692;
  --color-white: #454e56;
  --color-black: #000;
  --color-grey0: #f8f8f8;
  --color-grey-1: #6c7983;
  --color-grey-2: #6c7983;
  --color-grey-3: #6c7983;
  --color-grey-4: #454e56;
  --color-grey-5: #f8f8f8;
  --color-grey-6: #12181b;
}

body {
  background-color: var(--color-primary);
  font-family: "Poppins", sans-serif;
  font-size: 1.1rem;
  color: var(--color-white);
  transition: all 0.4s ease-in-out;
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}

header {
  z-index: 1;
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
  right: 30px;
  width: 80px;
  padding-top: 20px;
  min-height: 100%;
  overflow: hidden;
  color: var(--color-white);
}

.control {
  border: 1px solid transparent;
  border-radius: 50%;
  background-color: var(--color-grey-4);
  margin: 10px;
  cursor: pointer;
}
.control i {
  margin: 18px;
  color: var(--color-grey-2);
}

.active-btn {
  background-color: var(--color-secondary);
  transition: all 0.4s ease-in-out;
}
.active-btn i {
  color: var(--color-white);
}

.mode {
  padding: 8px;
  margin-bottom: 50px;
  cursor: pointer;
}

section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  animation: slidingOffTop 0.5s ease-out;
}

@keyframes slidingOffTop {
  0% {
    transform: translateY(-100%) scaleY(0);
  }
  100% {
    transform: translateY(0%) scaleY(1);
  }
}
.main-title {
  position: relative;
  text-align: center;
}
.main-title h2 {
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: 700;
}

.diff-text {
  color: var(--color-secondary);
}

.bg-text {
  position: absolute;
  top: 50%;
  left: 50%;
  color: var(--color-grey-5);
  opacity: 0.5;
  transform: translate(-50%, -50%);
}

main {
  width: 100vw;
}

.home {
  display: none;
}

.home.active {
  display: flex;
  justify-content: space-around;
  background: linear-gradient(80deg, var(--color-secondary) 0%, var(--color-secondary) 21%, var(--color-primary) 21%, var(--color-primary) 100%);
}

.hand {
  display: inline-block;
  animation: waving 2.5s infinite;
}

@keyframes waving {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.ImageContainer {
  width: 40vw;
  height: 90vh;
  position: relative;
}
.ImageContainer img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px;
  box-shadow: #27AE60;
}
.ImageContainer #img2 {
  visibility: visible;
  animation: fadeIn 7s infinite;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.Home-Content {
  margin-right: 15rem;
  width: 400px;
  height: 100vh;
  justify-self: flex-end;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Presentation {
  margin: 0;
  display: inline;
  height: 40%;
  font-size: 3.8rem;
  font-family: "Oswald", sans-serif;
  white-space: initial;
}

.btn-con {
  border: 1px solid var(--color-secondary);
  align-self: flex-start;
  border-radius: 30px;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
}
.btn-con ::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  transform: translateX(0%);
  height: 100%;
  width: 10%;
  border-radius: 30px;
  transition: all 0.3s ease-in-out;
  z-index: -1;
}
.btn-con:hover {
  transition: all 0.4s ease-in;
}
.btn-con:hover ::after {
  content: "";
  z-index: -1;
  background-color: var(--color-secondary);
  width: 100%;
  transform: translateX(0%);
  transition: all 0.4s ease-in;
}
.btn-con:hover i {
  animation: text-fall 2s 0.5s ease-in-out both;
}
@keyframes text-fall {
  0% {
    transform-origin: 0 50%;
    animation-timing-function: ease-in-out;
  }
  15% {
    transform: rotate3d(0, 0, 1, 130deg);
  }
  20% {
    transform: rotate3d(0, 0, 1, 80deg);
  }
  30% {
    transform: rotate3d(0, 0, 1, 115deg);
  }
  40% {
    transform: rotate3d(0, 0, 1, 85deg);
  }
  50% {
    transform: rotate3d(0, 0, 1, 107deg) translate3d(10px, 0, 0);
    opacity: 0.5;
  }
  100% {
    transform: rotate3d(0, 0, 1, 107deg) translate3d(10px, 0, 0);
    opacity: 0.5;
    visibility: collapse;
  }
}
.btn-con .btn-text {
  font-size: 1rem;
  font-weight: 600;
  margin-left: 1rem;
  margin-right: 1rem;
  z-index: 1;
}
.btn-con .btn-icon {
  border-radius: 50%;
  z-index: 1;
  background-color: var(--color-white);
  height: 3rem;
  width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-con .btn-icon i {
  z-index: 1;
  font-size: 1.5rem;
  color: var(--color-primary);
}

#cursor {
  color: #7EC8E3;
  animation: blinkingCursor 1s linear infinite;
}

@keyframes blinkingCursor {
  0% {
    opacity: 100%;
  }
  50% {
    opacity: 0%;
  }
}
.Motivational {
  align-self: flex-start;
  word-wrap: break-word;
  margin-bottom: 50px;
}

.about {
  display: none;
}

.about.active {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 50px;
  flex: 1;
  padding: 10rem;
}

.about-section {
  padding-top: 3rem;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-self: stretch;
  font-size: 2rem;
}
.about-section .title::before {
  content: "";
  display: block;
  position: relative;
  left: 35%;
  width: 30%;
  height: 0.4px;
  margin-bottom: 40px;
  background-color: var(--color-grey-4);
}
.about-section .title {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 40px;
  text-transform: uppercase;
}

.progress-bars {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  padding: 70px;
}

.progress-bar {
  font-size: 1.5rem;
  margin: 2rem;
}
.progress-bar .prog-title {
  font-weight: 500;
  font-size: 1.2rem;
}
.progress-bar .prog-percent {
  font-size: 1.2rem;
  color: var(--color-grey-2);
  margin-right: 10px;
  display: inline;
}
.progress-bar .progress-control {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.progress-bar .progress {
  background-color: var(--color-grey-2);
  height: 10px;
  width: 100%;
}
.progress-bar .c-sharp {
  background-color: var(--color-secondary);
  height: 10px;
  width: 75%;
  display: block;
}
.progress-bar .html {
  background-color: var(--color-secondary);
  height: 10px;
  width: 80%;
  display: block;
}
.progress-bar .django {
  background-color: var(--color-secondary);
  height: 10px;
  width: 60%;
  display: block;
  grid-column: 1;
}
.progress-bar .javascript {
  background-color: var(--color-secondary);
  height: 10px;
  width: 70%;
  display: block;
}
.progress-bar .Python {
  background-color: var(--color-secondary);
  height: 10px;
  width: 74%;
  display: block;
}
.progress-bar .NodeJS {
  background-color: var(--color-secondary);
  height: 10px;
  width: 72%;
  display: block;
}

.timelines {
  display: inline-grid;
  grid-column: repeat(2, 1fr);
  grid-row: repeat(2, 1fr);
}

.timeline-item {
  display: inline-grid;
  grid-template-columns: 1fr 30fr;
  grid-row: repeat(3, 1fr);
  margin: 15px;
}
.timeline-item:first-child {
  grid-column: 1;
}
.timeline-item:nth-child(2) {
  grid-column: 2;
}
.timeline-item:nth-child(3) {
  grid-column: 1;
  grid-row: 2;
}

.tl-icon {
  grid-column: 1;
  grid-row: 1/span 3;
  font-size: 1rem;
}

.tl-icon-container {
  border-radius: 50%;
  background-color: var(--color-secondary);
  padding: 10px;
}

.tl-icon::after {
  content: "";
  align-items: center;
  display: block;
  position: relative;
  margin-top: 5px;
  left: 50%;
  border-radius: 0%;
  border: 1px solid var(--color-grey-3);
  width: 0px;
  height: 100px;
}

.cont-duration {
  grid-column: 2;
  position: relative;
}

.tl-duration {
  background-color: var(--color-grey-5);
  position: relative;
  display: inline;
  font-size: 1rem;
  border-radius: 15px;
  padding: 8px;
  bottom: 0.5rem;
  margin-left: 5px;
  height: 2.5rem;
}

.tl-title {
  grid-column: 2;
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
}
.tl-title span {
  font-size: 1rem;
  color: var(--color-grey-2);
}

.tl-content {
  grid-column: 2;
  font-size: 1rem;
  color: var(--color-grey-2);
}

.portfolio {
  display: none;
}

.portfolio.active {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  padding: 20px;
}

.portfolios {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}

.portfolio-item {
  position: relative;
  border-radius: 15px;
}
.portfolio-item img {
  height: 300px;
  margin: 0;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px;
  filter: none;
}
.portfolio-item .hover-items {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--color-secondary);
  transform: scale(0);
  transition: all 0.4s ease-in-out;
}
.portfolio-item:hover .hover-items {
  transform: scale(1);
}
.portfolio-item p {
  font-size: 1.6rem;
  font-weight: 600;
}
.portfolio-item .icons {
  margin-top: 1rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.portfolio-item a {
  cursor: pointer;
  background-color: var(--color-primary);
  width: 4.5rem;
  height: 4.5rem;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.portfolio-item a:hover i {
  color: var(--color-primary);
}
.portfolio-item a:hover {
  background-color: var(--color-white);
}
.portfolio-item i {
  font-size: 3rem;
  text-align: center;
}

.contact {
  display: none;
}

.contact.active {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
  height: 100vh;
}
.contact.active .main-title h2 {
  color: var(--color-secondary);
  margin-bottom: 80px;
}
.contact.active .container {
  display: flex;
  gap: 80px;
  justify-content: center;
}
.contact.active .container .img {
  width: 40vw;
  height: 50vh;
}
.contact.active .container .img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.contact.active .container h2 {
  font-weight: 500;
}
.contact.active .Contact-container {
  display: flex;
  flex-direction: column;
}
.contact.active .logo-container {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
}
.contact.active .logo-container .logo {
  border-radius: 50%;
  padding: 1rem;
  cursor: pointer;
}
.contact.active .logo-container .logo i {
  font-size: 2rem;
  color: white;
}
.contact.active .logo-container .github {
  background-color: #000;
}
.contact.active .logo-container .linkedin {
  background-color: rgb(0, 119, 181);
}
.contact.active .logo-container .email {
  background-color: #0072C6;
}
.contact.active .logo-container .whatsapp {
  background-color: #25D366;
}
.contact.active .logo-container .logo:hover {
  background-color: #0047AB;
}

@media screen and (max-width: 950px) {
  .portfolios {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .portfolio.active {
    margin-bottom: 80px;
  }
  header {
    z-index: 2;
    position: fixed;
    flex-direction: row;
    width: 100%;
    min-height: 10%;
    justify-content: center;
    align-items: flex-start;
    bottom: 0;
    right: 0;
    height: 10%;
    padding: 0%;
    background-color: var(--color-grey-4);
  }
  header .mode {
    margin: 0;
    padding: 0%;
  }
  header .control {
    border-radius: 0%;
    margin: 0%;
    height: 100%;
  }
  header .control i {
    margin: 2rem;
  }
  .signature {
    font-size: 2rem;
  }
}
@media screen and (max-width: 1006px) {
  .Home-Content {
    margin-right: 5rem;
  }
}
@media screen and (max-width: 970px) {
  .home.active {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    background: none;
    margin-bottom: 70px;
  }
  .ImageContainer {
    width: 70vw;
  }
  .Home-Content {
    margin: 0;
    align-self: center;
    padding-left: 10px;
  }
}
@media screen and (max-width: 600px) {
  .about.active {
    padding: 0;
    margin-top: 20px;
  }
  .main-title h2 {
    font-size: 2rem;
  }
  .about-section {
    margin-bottom: 80px;
  }
  .progress-bars {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .timelines {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .timelines .timeline-item:nth-child(2) {
    grid-column: 1;
    grid-row: 2;
  }
  .timelines .timeline-item:nth-child(3) {
    grid-row: 3;
  }
  .contact.active {
    margin-top: 80px;
  }
  .contact.active .container {
    flex-direction: column-reverse;
  }
}/*# sourceMappingURL=style.css.map */